body {
	background-color: white;
}
p{
	
}

.profile_picture{
	height: 400px;
	width: 400px;
	position: absolute;
	right: 10px;
	box-shadow: 10px;
}

.email_address{
	text-decoration: underline;
	color: blue;
}

.left_align{
	text-align: : left;
}

.center_align{
	text-align: : center;
}

.right_align{
	text-align: : right;
}

.float_right{
	float: right;
}