body {
	background-color: grey;
	height: auto;
  	width: auto;
}
hr{
	display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid black;
    margin: 1em 0;
    padding: 0; 

}

.profile_picture{
	height: 25%;
  	width: 25%;
  	
  	top: 40px;
  	right: 40px;
  	box-shadow: 0px 10px 20px 1px;
  	border-radius: 10px;
  	position: absolute;
  	float:right;
  	clear: left;

    -webkit-transform: rotate(350deg);
    -moz-transform: rotate(350deg);
    -ms-transform: rotate(350deg);
    -o-transform: rotate(350deg);
    transform: rotate(350deg);
}

.email_address{
	text-decoration: underline;
	color: blue;
}

.left_align{
	float: left;
 	width: 20%;
  	clear:both;
}

.center_align{
	margin: auto;
  	width: 500px;
}

.right_align{
	border-left: 2px solid black;
 	padding-left: 10px;
  	float: left;
  	width: 40%;
  	color: black;
}


#about_me{
  	float: left;
  	text-align: justify;
  	clear:both;
  	color: black;
  	position: relative;
  	width: 60%;
}
